In [2]:
# Q1) 
#string
string_1 = ("Hello World")

#list
list_1 = [10,20,30,40]

#float
float_1 = 5.98

#tuple
tuple_1 = (10,20,30)

In [3]:
#Q2
var1=' '
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [10]:
var4 = 1.
type(var4)

float

In [13]:
#Q3
# / is used for division
6/3

2.0

In [14]:
# % is used to get remainder value
6%4

2

In [15]:
# // is used to get quotient value
7//2

3

In [16]:
# ** is used as power operator
2**3

8

In [20]:
#Q4
l = [10 , 'a' , 20 , 9.8 , 'pw' , True , 5 , 80 , 45 , 90]
i = 1
for i in l :
    print(i)
    print(type(i))

10
<class 'int'>
a
<class 'str'>
20
<class 'int'>
9.8
<class 'float'>
pw
<class 'str'>
True
<class 'bool'>
5
<class 'int'>
80
<class 'int'>
45
<class 'int'>
90
<class 'int'>

In [27]:
#Q5
a = int(input("The first no is "))
b = int(input("The secind no is "))
        
count = 0

while a % b == 0 :
    a = a / b
    count += 1
    
if count > 0 :
    print(f"The no is divided {count} times")
else :
    print("The no is not purely divisible")

The first no is  16
The secind no is  2

The no is divided 4 times

In [29]:
#Q6
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
i=1
for i in l:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [32]:
#Q7
# Mutable data types are those whose values can be modified after creation.
#Example
l = [1,5,'a']
print(l)

[1, 5, 'a']

In [33]:
l[1] = 10
l.append(20)
print(l)

[1, 10, 'a', 20]

In [34]:
# Immutable data types are those whose values cannot be changed after they are created.
a = (1,5,'a')
print(a)

(1, 5, 'a')

In [36]:
a.append(20)
print(a)
# because tuple is immutable

AttributeError: 'tuple' object has no attribute 'append'